  /* Bookmakr Style */
  .web-bookmark-bookmark {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  /* BookmakrFilled Style */
  .web-bookmark-bookmark-filled {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  /* BookmakrTab Style */
  .web-bookmark-bookmark-tab {
    align-items: center;
    display: flex;
    gap: 40px;
    height: 49px;
    padding: 0px 13px;
    position: relative;
    width: 249px;
  }
  
  .web-bookmark-bookmark-tab .instance-node {
    left: unset !important;
    position: relative !important;
    top: unset !important;
  }
  
  .web-bookmark-bookmark-tab .div {
    color: #a09cab;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: 25px;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: 159px;
  }
  
  .web-bookmark-bookmark-tab.state-hover {
    background-color: #d6d6d680;
    border-radius: 10px;
  }

  /* HomeTabStyle */
  .web-bookmark-home-tab {
    align-items: center;
    display: flex;
    gap: 40px;
    height: 48px;
    padding: 0px 13px;
    position: relative;
    width: 249px;
  }
  
  .web-bookmark-home-tab .icon {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .web-bookmark-home-tab .text-wrapper {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .web-bookmark-home-tab.hover {
    background-color: #dadbd680;
    border-radius: 10px;
  }
  
  /* ProfileTab */
  .web-bookmark-profile-tab {
    align-items: center;
    display: flex;
    gap: 40px;
    height: 48px;
    padding: 0px 13px;
    position: relative;
    width: 249px;
  }
  
  .web-bookmark-profile-tab .icon-2 {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .web-bookmark-profile-tab .text-wrapper-3 {
    color: #a09cab;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    width: 117px;
  }
  
  .web-bookmark-profile-tab.state-1-hover {
    background-color: #e5e5e5;
    border-radius: 10px;
  }
  
  /* SearchTab */
  .web-bookmark-search-tab {
    align-items: center;
    display: flex;
    gap: 40px;
    height: 48px;
    padding: 0px 13px;
    position: relative;
    width: 249px;
  }
  
  .web-bookmark-search-tab .img {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .web-bookmark-search-tab .text-wrapper-2 {
    color: #a09cab;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .web-bookmark-search-tab.state-0-hover {
    background-color: #e5e5e5;
    border-radius: 10px;
  }

  