  /* Bookmakr Style */
  .search-bookmark {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
  }

  /* BookmakrTab Style */
  .search-bookmark-tab {
  align-items: center;
  display: flex;
  gap: 40px;
  height: 49px;
  padding: 0px 13px;
  position: relative;
  width: 249px;
}

.search-bookmark-tab .bookmark-instance {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.search-bookmark-tab .bookmark-filled {
  height: 24px;
  position: relative;
  width: 24px;
}

.search-bookmark-tab .text-wrapper-5 {
  color: #a09cab;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  height: 25px;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: 159px;
}

.search-bookmark-tab.state-hover {
  background-color: #d6d6d680;
  border-radius: 10px;
}


  /* HomeTabStyle */
  .search-home-tab {
    align-items: center;
    display: flex;
    gap: 40px;
    height: 48px;
    padding: 0px 13px;
    position: relative;
    width: 249px;
  }
  
  .search-home-tab .icon-2 {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .search-home-tab .text-wrapper-4 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .search-home-tab.hover {
    background-color: #dadbd680;
    border-radius: 10px;
  }
  
  
  /* ProfileTab */
  .search-profile-tab {
    align-items: center;
    display: flex;
    gap: 40px;
    height: 48px;
    padding: 0px 13px;
    position: relative;
    width: 249px;
  }
  
  .search-profile-tab .icon-4 {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .search-profile-tab .text-wrapper-7 {
    color: #a09cab;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    width: 117px;
  }
  
  .search-profile-tab.state-1-hover {
    background-color: #e5e5e5;
    border-radius: 10px;
  }
  
  /* SearchTab */
  .search-search-tab {
    align-items: center;
    display: flex;
    gap: 40px;
    height: 48px;
    padding: 0px 13px;
    position: relative;
    width: 249px;
  }
  
  .search-search-tab .icon-3 {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .search-search-tab .text-wrapper-6 {
    color: #a09cab;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .search-search-tab.state-0-hover {
    background-color: #e5e5e5;
    border-radius: 10px;
  }
  
  